BODY {
		margin : 0 auto;
		padding : 1em;
		background-image : url("../img/toothbrush.jpg");
		background-size : cover;
		background-attachment:fixed;
}

.frame {
		height : 95vh;
		margin-left : 10%;
		margin-right : 10%;
		border-radius : 3em;
}

.headline {
		text-align : center;
		background-color : rgba(255, 255, 255, 0.9);
		color : black;
		padding : 1em;
		border-radius : 3em 3em 0 0;
}

.headline h1 {
		margin : 0;
		padding : 0;
}

.navigation {
		background-color : rgba(255, 255, 255, 0.9);
		border-radius : 0 0 3em 3em;
		margin-bottom : 1em;
		border-top : 1px solid black;
}

.navigation ul {
		margin : 0;
		padding : 0;
		list-style : none;
		text-align : center;
}

.navigation ul li {
		display : inline-block;
}

.navigation ul li a {
		text-decoration : none;
		text-transform : uppercase;
		padding : 1em;
		display : block;
}

.active {
	background-color : rgba(225, 225, 225, 0.9);
}

.active a {
	color : rgb(0, 206, 209);
}

.active a:hover {
	color : rgb(0, 206, 209);
}

.inactive a {
	color : black;
}

.inactive a:hover {
		color : rgb(0, 206, 209);
}

.content {
		padding-right : 3em;
		padding-left : 3em;
		padding-top : 3em;
		padding-bottom : 3em;
		color : black;
		background-color : rgba(255, 255, 255, 0.9);
		border-radius : 3em;
}

.startseite {
	text-align : center;
}

.startseite img {
	width : 80%;
	border-radius : 15px;
}

.leistungen {
	text-align : center;
	font-size : large;
}

.praxis {
	text-align : center;
}

.praxis img {
	width : 50%;
	margin-bottom : 20px;
	border-radius : 15px;
}

