BODY {
		margin : 0 auto;
		padding : 1em;
		background-image : url("laecheln.jpg");
		background-size : cover;
		background-attachment:fixed;
}

#frame {
		height : 95vh;
		margin-left : 10%;
		margin-right : 10%;
		border-radius : 3em;
}

#headline {
		text-align : center;
		background-color : black;
		color : white;
		padding : 1em;
		border-radius : 3em 3em 0 0;
		opacity : 0.8;
}

#headline h1 {
		margin : 0;
		padding : 0;
}

#navigation {
		background-color : black;
		opacity : 0.8;
		border-radius : 0 0 3em 3em;
		margin-bottom : 1em;
		border-top : 1px solid white;
}

#navigation ul {
		margin : 0;
		padding : 0;
		list-style : none;
		text-align : center;
}

#navigation ul li {
		display : inline-block;
}

#navigation ul li a {
		text-decoration : none;
		color : white;
		text-transform : uppercase;
		padding : 1em;
		display : block;
}

#navigation ul li a:hover {
		color : red;
}

#content {
		padding-right : 3em;
		padding-left : 3em;
		padding-top : 1em;
		padding-bottom : 1em;
		color : white;
		background-color : black;
		opacity : 0.8;
		border-radius : 3em;
}
