BODY {
		margin : 0 auto;
		padding : 0 auto;
}

#outerFrame {
		background-color : blue;
		height : 100vh;
		margin-left : 10%;
		margin-right : 10%;
}

#innerFrame {
		background-color : blue;
}

#headline {
		text-align : center;
		background-color : yellow;
}

#headline h1 {
		margin : 0;
		padding : 0;
}
